@model TuRM.Portrait.ViewModels.Product.Product

<div class="col-sm-4">
    <div class="row">
        <div class="col-md-6">
            @if (Model.Image != null && Model.DisplayWidth > 0)
            {
                <img src="@(Model.Image != null? $"data:image/{Model.Image.ImageFormat};base64,{Convert.ToBase64String(Model.Image.GetBytes())}" : string.Empty)"
                     width="@Model.DisplayWidth.ToString()" alt="@(Model.Image != null?Model.Name:"kein Bild")" class="img-thumbnail" />
            }
            else {
                <div>@Model.Name</div>
            }
        </div>
        <div class="col-md-6">
            <h4>@Model.Name</h4>
            @if (Model.Description != null)
            {
                <p>@Model.Description</p>
            }

            <p>@Html.ActionLink("Jetzt bestellen »", "Create", "Request", new { productId = Model.Id }, new { @class = "btn btn-default", role = "button" })</p>
        </div>
    </div>
</div>
