@model LetPaintPictures.ViewModels.Bill.Item

<tr>
    <td class="hidden-xs">
        @Html.DisplayFor(m => m.Id)
    </td>
    <td>
        <div class="row">
            <div class="col-md-12">
                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
        </div>
    </td>
    <td>
        @Html.EditorFor(m => m.Amount, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Amount, "", new { @class = "text-danger" })
    </td>
    <td>
            <div class="input-group">
                <input id="@Html.IdFor(i=>Model.Price)" name="@Html.NameFor(i=>Model.Price)" type="text" value="@($"{Model.Price:F2}")" class="form-control text-right" />
                <div class="input-group-addon">€</div>
            </div>
            @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
    </td>
    <td class="hidden-xs">
        <a href="@Url.Action("Detail", "Request", new { RequestItemId = Model.RequestItemId })">
            @Model.RequestItemId
        </a>
        <input type="hidden" value="@Model.RequestItemId" name="@Html.NameFor(m=>Model.RequestItemId)" id="@Html.IdFor(i=>Model.RequestItemId)" />
    </td>
    <td>
        <button type="button" class="btn btn-default btn-remove">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
    </td>
</tr>

