<!DOCTYPE html lang="de-de">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Richard Martens" />
    <meta name="creator" content="Richard Martens" />
    <meta http-equiv="language" content="de-de">
    @RenderSection("Head", required:false)
    <!-- Registrierkarten-Icon -->
    <link rel="shortcut icon" media="all" href="@Url.Content("~/content/icon.ico")" type="image/x-icon" />
    <title>@ViewBag.Title - TM Portraits</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TM Portraits", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Startseite", "Index", "Home")</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Anfragen", "Index", "Request")</li>
                        <li>@Html.ActionLink("Rechnungen", "Index", "Bill")</li>
                        <li>@Html.ActionLink("Produkte", "Index", "Product")</li>
                    }
                    <!--<li>@Html.ActionLink("Info", "About", "Home")</li>-->
                    <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                </ul>
                @Html.Partial("~/Areas/User/Views/Shared/_LoginPartial.cshtml")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()

        <footer class="footer hidden-print">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("AGB", "GTC", "Home")</li>
                    <li>@Html.ActionLink("Impressum", "Imprint", "Home")</li>
                </ul>
            </div>
        </footer>

        <hr class="hidden-print" />
        <footer class="hidden-print">
            <p>&copy; @DateTime.Now.Year - TM Portraits @typeof(MvcApplication).Assembly.GetName().Version.ToString().TrimEnd( '0', '.') Beta</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    <!--Google Analytics script-->
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75263244-1', 'auto');
  ga('send', 'pageview');

    </script>
</body>
</html>
