@model LetPaintPictures.ViewModels.Bill.Detail

@{
    ViewBag.Title = "Rechnung";
}

<style media="print" type="text/css">
    .container {
        width:auto;
    }
</style>
<!-- Modal -->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="meinModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Schließen"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="meinModalLabel">Rechnung löschen</h4>
            </div>
            @using (Html.BeginForm("Create", "BillCancellation"))
            {
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <p>Möchten Sie die Rechnung #@Model.Head.Id wirklich löschen?</p>

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label for="CancelReason" class="control-label col-md-4">Grund der Stornierung:</label>
                        <div class="col-md-8">
                            <input type="hidden" id="BillId" name="BillId" value="@Model.Head.Id" />
                            <textarea id="CancelReason" name="CancelReason" class="form-control" placeholder="Pflichtfeld" required maxlength="256"></textarea>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Nein</button>
                        <button type="submit" class="btn btn-primary">Ja</button>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center small" style="top:-40px">
        Tamara Martens IBAN: DE84 3705 0299 1081 0471 20 BIC:COKSDE33
    </div>
</div>

<address>
    <div class="row"><div class="col-md-12">Tamara Rubbe</div></div>
    <div class="row"><div class="col-md-12">Auf dem Beuel 9</div></div>
    <div class="row"><div class="col-md-12">53773 Hennef</div></div>
    <div class="row"><div class="col-md-12">Steuer-ID: 97 178 564 202</div></div>
</address>

<address>
    <div class="row">
        <div class="col-md-12">
            @Html.DisplayFor(model => model.Head.FirstName)&nbsp;
            @Html.DisplayFor(model => model.Head.LastName)
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @Html.DisplayFor(model => model.Head.StreetPostOfficeBox)<text>&nbsp;</text>
            @Html.DisplayFor(model => model.Head.HouseNumber)
        </div>
    </div>

    <div class="row" style="padding-top:20px">
        <div class="col-xs-6 col-md-6">
            @Html.DisplayFor(model => model.Head.PostalCode)<text>&nbsp;</text>
            @Html.DisplayFor(model => model.Head.City)
        </div>
        <div class="col-xs-6 col-md-6 text-right">Hennef, den @($"{Model.Head.CreatedOn:d}")</div>
    </div>
</address>

<h4 style="padding:40px 0px">Rechnung #@Model.Head.Id</h4>

@*<p class="hidden-print">
    <div class="row">
        @Html.LabelFor(model => model.Head.Email, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.DisplayFor(model => model.Head.Email)
        </div>
    </div>

    <div class="row">
        @Html.LabelFor(model => model.Head.Remarks, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.DisplayFor(model => model.Head.Remarks)
        </div>
    </div>
</p>*@

<div class="row">
    <div class="col-xs-12 col-md-12">
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th class="col-xs-1 col-md-1">
                        @Html.LabelFor(m => m.Items.FirstOrDefault().Id)
                    </th>
                    <th class="col-xs-7 col-md-7">
                        @Html.LabelFor(m => m.Items.FirstOrDefault().Name)
                    </th>
                    <th class="col-xs-1 col-md-1">
                        @Html.LabelFor(m => m.Items.FirstOrDefault().Amount)
                    </th>
                    <th class="col-xs-1 col-md-1 hidden-print">
                        @Html.LabelFor(m => m.Items.FirstOrDefault().RequestItemId)
                    </th>
                    <th class="col-xs-1 col-md-1">
                        @Html.LabelFor(m => m.Items.FirstOrDefault().Price)
                    </th>
                    <th class="col-xs-1 col-md-1">
                        @Html.LabelFor(m => m.Items.FirstOrDefault().Total)
                    </th>
                </tr>
            </thead>
            <tbody>
                @Html.DisplayFor(model => model.Items, new { htmlAttributes = new { @class = "form-control" } })
            </tbody>
            <tfoot>
                <tr>
                    <td class="hidden-print" colspan="5"><strong>Gesamt:</strong></td>
                    <td class="visible-print" colspan="4"><strong>Gesamt:</strong></td>
                    <td class="text-right">
                        @($"{Model.Items.Select(s => s.Total).Sum():F2}")
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>
            Das Rechnungsdatum entspricht dem Leistungsdatum. Als Kleinunternehmer im Sinne von §19 Abs. 1 UStG wird Umsatzsteuer nicht berechnet!
        </p>
        <p>
            Vielen Dank für Ihren Auftrag. Bitte überweisen Sie den gesamten Betrag von @($"{Model.Items.Select(s => s.Total).Sum():F2}") 
            bis zum @($"{Model.Head.CreatedOn.AddDays(14d):d}") auf mein Konto.
        </p>
        <p>
            Mit freundlichen Grüßen,
        </p>
        <p>Tamara Martens</p>
    </div>
</div>

<div class="row hidden-print">
    <div class="col-md-10">
        <button type="button" data-toggle="modal" data-target="#DeleteModal" class="btn btn-default">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            &nbsp;Löschen
        </button>
        <a href="@Url.Action("Index")" class="btn btn-primary">
            <span class="glyphicon glyphicon-list" aria-hidden="true" ´></span>
            &nbsp;Zurück zu Liste
        </a>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            @*$(".btn-remove").click(function () {
                this.parentElement.parentElement.parentElement.removeChild(this.parentElement.parentElement);
            });
            $(".btn-add").click(function () {
                var content = new String("<tr><td><input class=\"form-control text-box single-line\" data-val=\"true\" data-val-maxlength=\"Das Feld &quot;Name&quot; muss ein Zeichenfolgen- oder Arraytyp mit einer maximalen Länge von 64 sein.\" data-val-maxlength-max=\"64\" id=\"Items_0__Name\" name=\"Items[0].Name\" type=\"text\" /><span class=\"field-validation-valid text-danger\" data-valmsg-for=\"Items[0].Name\" data-valmsg-replace=\"true\"></span></td><td><input class=\"form-control text-box single-line\" data-val=\"true\" data-val-number=\"The field Amount must be a number.\" data-val-required=\"Das Feld &quot;Amount&quot; ist erforderlich.\" id=\"Items_0__Amount\" name=\"Items[0].Amount\" type=\"text\" value=\"1\" /><span class=\"field-validation-valid text-danger\" data-valmsg-for=\"Items[0].Amount\" data-valmsg-replace=\"true\"></span></td><td><div class=\"input-group\"><input id=\"Items_0__Price\" name=\"Items[0].Price\" type=\"text\" class=\"form-control text-right\" /><div class=\"input-group-addon\">€</div></div><span class=\"field-validation-valid text-danger\" data-valmsg-for=\"Items[0].Price\" data-valmsg-replace=\"true\"></span></td><td></td><td></td><td></td><td><button type=\"button\" class=\"btn btn-default btn-remove\"><span class=\"glyphicon glyphicon-trash\" aria-hidden=\"true\"></span></button></td></tr>"),
                    count = @Model.Items.Count;

                content = content.replace('[0]','[' + count + ']');
                content = content.replace('_0_', '_' + count + '_');

                ++count;

                $("tbody").append(content);
            });*@
        });
    </script>
}


