@model LetPaintPictures.ViewModels.Request.Item

<tr>
    <td>@Model.Id</td>
    <td>@Model.Name</td>
    <td>@Model.Amount</td>
    <td>@($"{Model.Price:C}")</td>
    <td>@($"{Model.Total:C}")</td>
    @*<td>@Model.HeadId</td>*@
</tr>
